.searchPage__logo{
    object-fit: contain;
    height: 70px;
    margin-right: 50px;
}
.seachPage__header{
    display: flex;
    position: sticky;
    top:0;
    background-color: white;
    /* so that the search result is always below the search header */
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    /* border-bottom: 1px solid lightgray; */
    margin-left: 100px;
}
.avatar{
   float: right;
   position: absolute;
   bottom: 50;
}   
.searchPage__settings{
    color: gray;
    margin-top: 5px;
    margin-right: 20px;
}
.seachPage__header .searchPage__logo{
    height: 15vh;
}
/* from the search page > inside the search component> selecting the search class given to its parent form > selecting the search__input class and redefining all the styling that it has */
.seachPage__headerBody> .search> .search__input{
    margin-top: 0;
    width: 60%;
    margin: unset;
    max-width: unset;
    box-shadow: 2px 2px 2px 2px #bcbdbe32;
}
/* aligning the input field in line with the google logo */
.seachPage__headerBody> .search{
    display: flex;
    align-items: center;
}
.searchPage__options{
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 20px;
    
}
.searchPage__optionsLeft, .searchPage__optionsRight{
    display: flex;
}
/* the link tag in the jsx is treated as anchor tags in css */
.searchPage__optionsLeft a, .searchPage__optionsRight a{
    text-decoration: none;
    color: gray;
}
.searchPage__optionsRight{
    margin-left: 80px;
}
.searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchPage__option a{
    margin-left: 5px;
}
.searchPage__results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 150px ;
    margin-bottom: 100px;
}
.searchPage__result{
    margin: 40px 0;
}
.searchPage__resultCount{
    color: #70757a;
    font-size: 14px;
}
.searchPage__resultTitle{
    text-decoration: none;
}
.searchPage__resultTitle:hover{
    text-decoration:underline;
}
.searchPage__resultTitle>h2{
    font-weight: 550;
}
.searchPage__resultSnippet{
    margin-top: 5px;
}
.searchPage__result .searchPage__resultLink{
        color: black;
        text-decoration: none;
}
.searchPage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}