.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    /* margin-top: 10px; */
    max-width: 560px;
}
/* making the input field aligned with its container's(search__input) style so that the input field is not distinctly visible outside */
.search__input>input{
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}
/* on-focusing on the input field, this help to remove the outline border that is added by default */
.search__input>input:focus{
    outline-width: 0;
}
.search__inputIcon{
    color: gray;
}
.search__buttons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.search__buttons button{
    margin: 5px;
    padding: 7px 15px;
    color: black;
    background-color: #f8f8f8;
    border : 1px solid white;
    text-transform: inherit;
}
.search__buttons button:hover{
    box-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color:#222;
}
.search__buttonsHidden{
    display: none !important;
}